{"auths":{"cloud.openshift.com":{"auth":"not-my-auth","email":"not-my-email@example.com"},"quay.io":{"auth":"not-my-auth","email":"not-my-email@example.com"},"registry.connect.redhat.com":{"auth":"especially-not-my-auth","email":"not-my-email@example.com"},"registry.redhat.io":{"auth":"especially-not-my-auth","email":"not-my-email@example.com"}}}
